/**
 * Main style
 */

* {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 1.05em;
    line-height:  0.6em;
}

.main {
    width: 500px;
    height: 700px;
    /* height: 900px; */
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: solid 1px #cccccc;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
}

.tetris {
    width: 500px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(to top, #e2e2e2, #ffffff);
}

.excel {
    width: 50px;
    height: 50px;
    box-shadow: -5px -10px 5px rgba(0,0,0,0.05);
    border-radius: 20%;
}

.excel-test {
    width: 50px;
    height: 50px;
    background: #f3f3f3;
}

.figure, .set {
    background: linear-gradient(45deg, #4e4e4e, #d1d1d1);
    /* border-radius: 50%; */
    border-radius: 20%;
    /* box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5); */
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3);

    /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.83);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8); */
}

/* Figure colors */
.blue {
    background: linear-gradient(45deg, darkblue, aqua);
}

.teal {
    background: linear-gradient(45deg, Teal, MediumAquamarine);
}

.orange {
    background: linear-gradient(45deg, OrangeRed, DarkOrange);
}

.red {
    background: linear-gradient(45deg, Crimson, LightPink);
}

.purple {
    background: linear-gradient(45deg, Purple, Fuchsia);
}

.green {
    background: linear-gradient(45deg, DarkGreen, PaleGreen);
}

.brown {
    background: linear-gradient(45deg, SaddleBrown, SandyBrown);
}

.olive {
    background: linear-gradient(45deg, Olive, YellowGreen);
}

.pink {
    background: linear-gradient(45deg, DeepPink, HotPink);
}

.khaki {
    background: linear-gradient(45deg, DarkKhaki, Khaki);
}

.yellow {
    background: linear-gradient(45deg, Gold, Yellow);
}

.light-blue {
    background: linear-gradient(45deg, SteelBlue, SkyBlue);
}

input {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    padding: 10px;

    /* border: solid 1px lightgreen; */
}

.controls {
    padding: 5px;
    position: absolute;
    top: 80px;
    left: 20px;

    /* border: solid 1px lightgreen; */
}

.modal {
    position: fixed;
    text-transform: uppercase;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.button {
    border: solid 2px #1E488C;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s;
}

.button:hover {
    border-radius: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #1E488C;
}